.user {
  background: #2b3566;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.user > img {
  width: 140px;
  height: 140px;
  border: 4px solid #644aff;
  border-radius: 50%;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.location svg {
  font-size: 1.5rem;
  fill: #4ed8c7;
}

.location span {
  color: #9da5d1;
  font-weight: bold;
}

.stats {
  display: flex;
}

.stats div {
  padding: 0 1rem;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stats>:first-child {
  border-right: 1px solid #9da5d1;
}

.stats .number {
  background: #4ed8c7;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
}

.user a {
  background: #644aff;
  padding: .5rem 1rem;
  border-radius: 1rem;
  opacity: .8;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.user a:hover {
  opacity: 1;
}